<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shpp.ssierykh.assignment1" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_kot_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment1" >
        <activity
            android:name=".ui.first_screen.StartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity_old.MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" >

        </activity>
        <activity
            android:name=".ui.activity_old.MyProfileActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.shpp.ssierykh.assignment1.ui.activity_old.contacts.ContactsProfileActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.shpp.ssierykh.assignment1.ui.activity_old.contacts.MyContactsActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>